{% extends "layout.html" %}
{% block content %}
    <div class="form-wrapper">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Log In</legend>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-check">
                    {{ form.remember() }}
                    {{ form.remember.label }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}